*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  place-items: center;
  align-content: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Свойства основного контента */

.content {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 133px 30px;
}

/* Блок с результатами вывада по параметрам */

.result {
  max-width: 711px;
  padding-top: 78px;
}

/* Вывод видеоконтента */

.result__video-container {
  position: relative;
  max-width: 100%;
  height: 386px;
  
}

/* Видеозапись */

.result__video {
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
  
}


/* Блок параметров поиска */

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
  min-width: 711px;
  padding-top: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.5px;
  width: fit-content;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}


.search-form__fieldset-title {
  padding-bottom: 5px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;  
  
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  background-color: transparent;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-around;
  gap: 16px;

}

/* Кнопки */

.button {
  min-height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  cursor: pointer;
}

.more-button {
  min-width: 100%;
}


.search-form__submit-button {
  align-self: flex-end;
  min-width: 194px;
  min-height: 34px;
}

/* Блок  сзаголовком и видео */

.content__details {
  min-width: 399px;
}

/* Заголовок страницы */

.title {
  padding-bottom: 22px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 71px;
  text-transform: uppercase;
}

/* Свойство меняющее цвет первой стоки для заголовка */

.content__accent {
  color: #545050;
}

/* Блок с прокруткой видеоматериалов */

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 298px;
  overflow: auto;
}

/* Внешний вид полосы прокрутки */


.content__list::-webkit-scrollbar {
  width: 7px;
}

.content__list::-webkit-scrollbar-thumb {
  border-radius: 20px;
  outline: 1px solid rgba(80, 80, 80, 0.5);
  background-color: rgba(80, 80, 80, 0.5);
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

/* Карточки с городами */

.content__video-card {
  display: grid;
  grid-template-columns: 200px 194px;
  min-height: 107px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  padding-top: 4px;
  object-fit: cover;
}

.content__video-card-title {
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 4px;
  padding-left: 2px;
  }

.content__video-card-description {
  max-width: 100%;
  padding-top: 5px;
  padding-left: 2px;
  object-fit: cover;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16px;
}

.content__card-link {
  display: block;
  text-decoration-line: none;
  margin: 3px 3px 0 3px;
}

/* Настройки взаимодействия на сайте */

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.1em;
  margin-right: 0.1em;
  border: 1px solid #FFFFFF;
  inline-size: 19px;
  block-size: 19px;
}

input[type=checkbox]:checked + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
  transition: 500ms;
}

/* Фокусирование */

.search-form__textfield:focus {
  outline: none; 
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
}


.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 2px;
}

/* Наведение курсора */

.search-form__label:hover:has(.search-form__textfield) {
  cursor: text;
}

.search-form__label:hover:has(.search-form__checkbox) {
  outline: none; 
  text-decoration: underline;
  text-decoration-thickness: 5%;
  text-underline-offset: 2px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 5%;
  text-underline-offset: 2px;
  cursor: pointer;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 5%;
  text-underline-offset: 2px;
  cursor: pointer;
}

/* Активное состояние */

.search-form__textfield:active {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link.content__card-link_current {
  background-color: #545050;
}
